.chatHistory {
    border: 1px solid black;
    grid-column: 2 / 3;
    overflow-y: scroll;
}

.chatHeader {
    width: 100%;
    text-align: center;
}

.chatMessage {
    animation-name: appear;
    animation-duration: 0.5s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}